* {
  font-family: 'Rajdhani', sans-serif;
  font-display: swap;
}

h1, h2, h3 {
  font-weight: 500;
}

p, span {
  font-weight: 500;
}

.small-text {
  font-size: 13px;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}